body {
    background-image: linear-gradient( to bottom right, rgb(234, 243, 245), rgb(248, 214, 224));
    height: auto;
    width: auto;
}

p {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.magic {
    letter-spacing: 0.1em;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
    font-size: 90px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* margin-bottom: 200px; */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* for the center word on pic */

.aboutus {
    letter-spacing: 0.1em;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
    font-size: 90px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* margin-bottom: 200px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* for the word Review on home pic */

#review {
    letter-spacing: 0.1em;
    /* text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px; */
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(187, 184, 184);
    margin-right: 50px;
    font-weight: 500%;
}

.green {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.blue {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.red {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}


/* for the wording on the bottom of the pic in ABOUT Us page */

h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    max-left: 100px;
    font-size: 20px;
}


/* for CUSTOMER REVIEWS carousel at the in home page */

.us {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(248, 244, 244);
}

h6 {
    /* text-align: left; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


/* Customers names under the review comment */


/* creator of the site*/

#roselink {
    font-size: 11px;
    color: black;
    font-family: "Times New Roman", Times, serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
    padding-top: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    top: 100%;
}


/* for the wording on the bottom of the pic in about you page */


/*
*
* =====================
* INTRO
* =====================
*
*/

#intro {
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    opacity: 0.5;
}


/* about intro page background img */

#about {
    /* height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    opacity: 0.5; */
}

.img-fluid {
    /* width: 1083px;
    height: 350px; */
    /* opacity: 0.5; */
}


/* about me page */

.aboutme {
    /* font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    border: 20px;
    margin-bottom: 20px; */
}

.pic {
    background-image: url("img/zulypic5.jpeg");
    width: 100vw;
    height: 100vh;
    /* border-radius: 10px; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

@media screen {
    .pic {
        background-image: url("img/zulypic5.jpeg");
        width: 100vw;
        height: 100vh;
        /* border-radius: 10px; */
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
    }
}


/* 
* contact form
*/

.form4 {
    background-image: url("img/roses.jpeg");
    width: auto;
    height: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.top {
    padding-top: 100px;
    padding-bottom: 100px;
}

.form-bg {
    background: rgba(68, 68, 65, 0.77);
    padding: 20px;
}

.form {
    background-color: white !important;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.form-control {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #61615e;
    background: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

button.btn {
    display: block;
    padding: 11px 32px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin: 30px 0px;
}

.btn-blue {
    background-color: gray;
    color: black;
    border: 1px solid gray;
}


/* for home page review grid */

.float-container {
    border: 3px solid transparent;
    padding: 20px;
}

.float-child {
    width: 300px;
    height: 210px;
    float: left;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 100px;
    margin-left: 100px;
    box-shadow: 5px 10px #adacac;
    background-image: linear-gradient( to bottom right, rgb(241, 244, 245), rgb(241, 225, 215));
}


/* about us page */

.float-containers {
    border: 3px solid transparent;
    padding: 10px;
}

.float-childs {
    width: 400px;
    height: auto;
    float: left;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
    margin-left: 15%;
    background: rgba(0, 0, 0, 0.5);
}

.float-containerr {
    border: 3px solid transparent;
    padding: 20px;
}

.float-childr {
    width: 300px;
    height: 210px;
    float: left;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 100px;
    margin-left: 100px;
    background: rgba(0, 0, 0, 0.5);
}


/* about me font  */

.me {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.green1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.blue1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.red1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}